<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{.FavIconS3Location}}">
    <title>Matched Coordinate Nasa Records</title>
</head>
<body>
<p>List of Nasa recordings which are in the matched coordinate range:</p>
<table>
    <tr>
        <th>Date</th>
        <th>Image</th>
	</tr>
	{{range .Recordings}}
    <tr>
        <td>{{.FormattedDateStr}}</td>
        <td>
            <a href="{{.S3Location}}" target="_blank">
                <img src="{{.S3Location}}" alt="{{.Identifier}}"
                     style="width: 200px;height: 200px">
            </a>
        </td>
    </tr>
	{{end}}
</table>
</body>
</html>